@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold-Normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold-Normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

nav,
footer,
header {
  display: block;
}

input,
button {
  font-family: inherit;
  color: inherit;
}

input {
  caret-color: currentColor;
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

a[href]:focus-visible,
button:focus-visible {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  font-size: inherit;
  background: none;
}

button:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: 400;
}

svg {
  fill: currentColor;
  stroke: currentColor;
  transition-property: fill, stroke;
  transition-duration: 0.3s;
}

dialog {
  position: fixed;
  inset: 0;
  z-index: 100;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}

dialog[open] {
  opacity: 1;
  visibility: visible;
}

.ibg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ibg img {
  position: absolute;
  inset: 0;
  z-index: -2;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  outline-offset: 0;
}

html {
  scroll-padding-block-start: var(--header-height);
}

body {
  font-family: "Gilroy";
  line-height: 1.1875;
  color: #fff;
  background-color: #161616;
  font-size: 16px;
}

.scroll-lock body {
  overflow: hidden;
}

.container {
  max-inline-size: var(--container, 1574px);
  margin-inline: auto;
  padding-inline: 15px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: hidden;
}

.header__wrapper {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition-property: background-color;
  transition-duration: 0.3s;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  min-block-size: 53px;
  padding-inline: 15px 33px;
}

.header-logo {
  flex: 0 0 auto;
  font-size: 0;
}

.header-logo__image {
  display: block;
  inline-size: 127px;
  aspect-ratio: 127/40;
}

.header-logo__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.header-pin {
  flex: 0 0 auto;
  font-size: 0;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.header-column {
  display: flex;
  justify-content: end;
  align-items: center;
  align-self: stretch;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 16px;
  color: #3f89bd;
}

.header-column__address {
  text-align: end;
}

.header-column__line {
  flex: 0 0 auto;
  align-self: stretch;
  inline-size: 1px;
  -webkit-margin-start: 6px;
  margin-inline-start: 6px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
}

.header-call {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header-call__button {
  font-weight: 500;
  transition-property: color;
  transition-duration: 0.3s;
}

.header-call__tel {
  white-space: nowrap;
  transition-property: color;
  transition-duration: 0.3s;
}

.header-buttons {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 100;
  inline-size: 100px;
  block-size: 100%;
  -webkit-padding-after: 20px;
  padding-block-end: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition-property: block-size;
  transition-duration: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-buttons[data-simplebar] {
  position: fixed;
}

.header-buttons[data-simplebar] .simplebar-track {
  inline-size: 5px;
}

.header-buttons[data-simplebar] .simplebar-scrollbar::before {
  background-color: #fff;
}

html.scrolled .header:not(.show-menu) .header-buttons[data-simplebar] .simplebar-scrollbar::before {
  display: none;
}

html.scrolled .header:not(.show-menu) .header-buttons {
  block-size: var(--header-height);
  overflow: hidden;
}

.header-buttons__inner {
  position: relative;
  isolation: isolate;
}

.header-buttons__inner::after {
  content: "";
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  z-index: -1;
  inline-size: 1px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
}

html.scrolled .header:not(.show-menu) .header-buttons__list {
  opacity: 0;
}

.header-buttons__item {
  position: relative;
  isolation: isolate;
}

.header-buttons__item::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: -1;
  block-size: 1px;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
}

.burger-button {
  position: -webkit-sticky;
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 48px;
  block-size: 48px;
  font-size: 0;
}

.header.show-menu .header-buttons--scrolled .burger-button,
html:not(.scrolled) .header-buttons--scrolled .burger-button {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.burger-button__icon svg {
  fill: #fff5f5;
}

html:not(.burger-active) .burger-button__icon--fill {
  display: none;
}

.burger-button__icon--fill svg {
  fill: #3f89bd;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: calc(var(--gap) * 1px);
  inline-size: 100%;
  min-block-size: 80px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition-property: color;
  transition-duration: 0.3s;
}

.menu-button--active {
  color: #3f89bd;
}

.menu-button--active .menu-button__icon img.normal {
  opacity: 0;
}

.menu-button--active .menu-button__icon img.active {
  opacity: 1;
}

.menu-button--active .menu-button__icon img.hover {
  opacity: 0;
}

.menu-button__icon {
  font-size: 0;
  inline-size: calc(var(--width) * 1px);
  aspect-ratio: var(--width)/var(--height);
}

.menu-button__icon img {
  -o-object-fit: contain;
  object-fit: contain;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.menu-button__icon img.active {
  opacity: 0;
}

.menu-button__icon img.hover {
  opacity: 0;
}

.header-nav__inner {
  flex: 1 1 auto;
  -webkit-padding-before: 20px;
  padding-block-start: 20px;
  padding-inline: 30px;
}

.header-nav__item {
  position: relative;
}

.header-nav__item::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  block-size: 1px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
}

.header-link {
  display: flex;
  align-items: center;
  -webkit-column-gap: calc((60 - var(--width)) * 1px);
  -moz-column-gap: calc((60 - var(--width)) * 1px);
  column-gap: calc((60 - var(--width)) * 1px);
  inline-size: 100%;
  min-block-size: 67px;
  font-weight: 700;
  font-size: 12px;
  transition-property: color;
  transition-duration: 0.3s;
}

.spoiler-active .header-link {
  color: #3f89bd;
}

.header-link__icon {
  flex: 0 0 auto;
  inline-size: calc(var(--width) * 1px);
  aspect-ratio: var(--width)/var(--height);
  font-size: 0;
}

.header-link__icon img {
  -o-object-fit: contain;
  object-fit: contain;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.spoiler-active .header-link__icon img.normal {
  opacity: 0;
}

.header-link__icon img.active {
  opacity: 0;
}

.spoiler-active .header-link__icon img.active {
  opacity: 1;
}

.header-link__icon img.hover {
  opacity: 0;
}

.header-sublist__item:not(:last-child) {
  -webkit-margin-after: 19px;
  margin-block-end: 19px;
}

.sublist-link {
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: 11px;
  -moz-column-gap: 11px;
  column-gap: 11px;
  font-weight: 700;
  font-size: 14px;
  color: #ebebeb;
  transition-property: color;
  transition-duration: 0.3s;
}

.sublist-link__icon {
  position: relative;
  flex: 0 0 auto;
  inline-size: 16px;
  aspect-ratio: 1/1;
  font-size: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  transition-property: border-color;
  transition-duration: 0.3s;
}

.sublist-link__icon::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 7px;
  aspect-ratio: 1/1;
  background-color: rgba(63, 137, 189, 0);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-property: background-color;
  transition-duration: 0.3s;
}

.sublist-link__label--upper {
  text-transform: uppercase;
}

.header-socials {
  position: -webkit-sticky;
  position: sticky;
  isolation: isolate;
  inset-block-end: 0;
  z-index: 1;
}

.header-socials::before {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: -2;
  block-size: 50%;
  background-color: #000;
}

.header-socials::after {
  content: "";
  position: absolute;
  inset-block: 0;
  inset-inline: -5px;
  z-index: -1;
  background-color: #000;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.header-socials__inner {
  display: flex;
  align-items: center;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  min-block-size: 99px;
  margin-inline: auto;
  padding-block: 20px;
  padding-inline: 30px;
}

.header-socials__line {
  flex: 0 0 auto;
  inline-size: 1px;
  block-size: 34px;
  font-size: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
}

.header-socials__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 19px;
  -moz-column-gap: 19px;
  column-gap: 19px;
  font-size: 0;
}

.header-socials__item {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  position: relative;
  padding-block: 10px 37px;
  background-color: #000;
}

.footer__inner {
  display: grid;
  align-items: center;
  row-gap: 60px;
  -webkit-column-gap: 159px;
  -moz-column-gap: 159px;
  column-gap: 159px;
}

.footer__column {
  position: relative;
  font-weight: 700;
}

.footer__logo {
  inline-size: 258px;
  aspect-ratio: 258/129;
}

.footer__logo img {
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-call {
  -webkit-padding-start: 7px;
  padding-inline-start: 7px;
  font-size: 32px;
}

.footer-call__tel {
  white-space: nowrap;
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-socials {
  display: flex;
  align-items: center;
  row-gap: 10px;
  -webkit-column-gap: 19px;
  -moz-column-gap: 19px;
  column-gap: 19px;
  -webkit-padding-start: 7px;
  padding-inline-start: 7px;
}

.footer-socials__item {
  flex: 0 0 auto;
  font-size: 0;
}

.footer-info {
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  font-size: 16px;
}

.footer-info__link {
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-info__text {
  -webkit-margin-before: 16px;
  margin-block-start: 16px;
}

.footer-nav {
  display: flex;
  font-size: 12px;
}

.footer-nav__item:not(:last-child) {
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.footer-nav__link {
  font-weight: 700;
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-nav__line {
  flex: 0 0 auto;
  inline-size: 1px;
  margin-inline: 26px 47px;
  font-size: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 62.19%, rgba(255, 255, 255, 0) 100%);
}

.up {
  position: absolute;
  inset-inline-end: max((100vw - 1544px) / 2 + 30px, 42px);
  z-index: 1;
  font-size: 0;
  inset-block-start: -36px;
}

.up svg {
  fill: rgba(255, 255, 255, 0.5);
  inline-size: 72px;
  block-size: 72px;
}

.hero-slider__pagination {
  --swiper-pagination-bullet-border-radius: 1em;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #3f89bd;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bottom: 83px;
  --swiper-pagination-bullet-size: 17px;
}

.hero-slider__pagination .swiper-pagination-bullet-active {
  transition-property: width;
  transition-duration: 0.3s;
  --swiper-pagination-bullet-width: 40px;
}

.hero-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  min-block-size: min(100vh, 555px);
  padding-block: calc(var(--header-height) + var(--slider-padding)) var(--slider-padding);
  --slider-padding: 128px;
}

.hero-card__container {
  display: flex;
  justify-content: end;
  flex: 1 1 auto;
  inline-size: 100%;
  block-size: 100%;
  --container: 1486px;
}

.hero-card__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero-card__title {
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: #ebebeb;
  background-color: rgba(12, 30, 42, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-padding-before: 43px;
  padding-block-start: 43px;
  -webkit-padding-after: 43px;
  padding-block-end: 43px;
  -webkit-padding-start: 126px;
  padding-inline-start: 126px;
  -webkit-padding-end: 73px;
  padding-inline-end: 73px;
  font-size: 48px;
}

.hero-card__link {
  -webkit-margin-before: -27px;
  margin-block-start: -27px;
}

.hero-link {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-inline-size: 372px;
  padding-block: 5px;
  font-weight: 500;
  text-align: center;
  background-color: #3f89bd;
  transition-property: background-color;
  transition-duration: 0.3s;
  min-block-size: 54px;
  padding-inline: 35px;
  font-size: 20px;
  border-radius: 10px;
}

.hero-link__label {
  flex: 1 1 auto;
}

.hero-link__icon {
  flex: 0 0 auto;
  font-size: 0;
}

.hero-link__icon svg {
  inline-size: 30px;
  block-size: 15px;
}

.models {
  -webkit-padding-before: 129px;
  padding-block-start: 129px;
  -webkit-padding-after: 60px;
  padding-block-end: 60px;
}

.models__container {
  --container: 1482px;
}

.models__title {
  -webkit-margin-after: 67px;
  margin-block-end: 67px;
}

.models__buttons {
  display: flex;
  align-items: center;
  -webkit-column-gap: 76px;
  -moz-column-gap: 76px;
  column-gap: 76px;
  -webkit-margin-after: 80px;
  margin-block-end: 80px;
}

.models__button {
  flex: 0 0 auto;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 24px;
}

.models__button--active {
  text-decoration: underline;
  color: #fff;
}

.title-h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.models-slider__pagination {
  --swiper-pagination-bullet-border-radius: 1em;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #3f89bd;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-size: 14px;
  -webkit-margin-before: 131px;
  margin-block-start: 131px;
}

.models-slider__pagination .swiper-pagination-bullet-active {
  transition-property: width;
  transition-duration: 0.3s;
  --swiper-pagination-bullet-width: 32px;
}

.model-card {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  background-color: #282727;
  border-radius: 40px;
  overflow: hidden;
  border-radius: 40px;
}

.model-card__inner {
  flex: 1 1 auto;
  -webkit-padding-before: 50px;
  padding-block-start: 50px;
  -webkit-padding-after: 40px;
  padding-block-end: 40px;
  padding-inline: 50px;
}

.model-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.model-card__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
}

.model-card__title a {
  transition-property: color;
  transition-duration: 0.3s;
}

.model-card__link {
  flex: 0 0 auto;
  font-size: 0;
}

.model-card__price {
  font-weight: 700;
  white-space: nowrap;
  font-size: 24px;
}

.model-card__image {
  display: block;
  aspect-ratio: 450/325;
  border-radius: 40px;
}

.advantages {
  -webkit-padding-before: 60px;
  padding-block-start: 60px;
  -webkit-padding-after: 55px;
  padding-block-end: 55px;
}

.advantages__title {
  -webkit-margin-after: 80px;
  margin-block-end: 80px;
}

.advantages__header {
  -webkit-margin-after: 110px;
  margin-block-end: 110px;
}

.advantages__articles {
  -webkit-margin-after: 111px;
  margin-block-end: 111px;
}

.advantages-header {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-areas: "image image image" "left content right";
  row-gap: 40px;
}

.advantages-header__image {
  grid-area: image;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 972/559;
  border-radius: 10px;
}

.advantages-header__content {
  grid-area: content;
  max-inline-size: 600px;
  padding-inline: 26px;
}

.advantages-header__content h3 {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-margin-after: 80px;
  margin-block-end: 80px;
  font-size: 48px;
}

.advantages-articles__container {
  padding-inline: 41px;
  --container: 1192px;
}

.advantages-articles__list {
  display: grid;
  row-gap: 70px;
  -webkit-column-gap: 160px;
  -moz-column-gap: 160px;
  column-gap: 160px;
}

.advantages-articles__content h3 {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-margin-after: 41px;
  margin-block-end: 41px;
  font-size: 24px;
}

.advantages-images__container {
  max-inline-size: none;
  padding-inline: 19px;
}

.advantages-images-slider__image {
  display: block;
  aspect-ratio: 387/237;
  border-radius: 10px;
}

.buy {
  -webkit-padding-before: 56px;
  padding-block-start: 56px;
  -webkit-padding-after: 70px;
  padding-block-end: 70px;
}

.buy__inner {
  position: relative;
  isolation: isolate;
}

.buy__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-padding-end: max((100vw - 1440px) / 2, 23px);
  padding-inline-end: max((100vw - 1440px) / 2, 23px);
  background-color: rgba(12, 30, 42, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-clip-path: polygon(var(--clip) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(var(--clip) 0, 100% 0, 100% 100%, 0 100%);
  --clip: 215px;
  -webkit-padding-before: 290px;
  padding-block-start: 290px;
  -webkit-padding-after: 290px;
  padding-block-end: 290px;
  -webkit-padding-start: 215px;
  padding-inline-start: 215px;
}

.buy__title {
  font-weight: 600;
  text-transform: uppercase;
  text-align: end;
  -webkit-margin-after: 38px;
  margin-block-end: 38px;
  font-size: 32px;
}

.buy__caption {
  font-weight: 500;
  -webkit-margin-after: 59px;
  margin-block-end: 59px;
  font-size: 24px;
}

.buy__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 33px;
  -moz-column-gap: 33px;
  column-gap: 33px;
  inline-size: 100%;
  max-inline-size: 316px;
  padding-block: 5px;
  font-weight: 500;
  text-align: center;
  background-color: #3f89bd;
  transition-property: background-color;
  transition-duration: 0.3s;
  min-block-size: 66px;
  padding-inline: 35px;
  font-size: 24px;
  border-radius: 10px;
}

.buy-link__label {
  flex: 1 1 auto;
}

.buy-link__icon {
  flex: 0 0 auto;
  font-size: 0;
}

.buy-link__icon svg {
  inline-size: 30px;
  block-size: 15px;
}

.photos {
  -webkit-padding-before: 70px;
  padding-block-start: 70px;
  -webkit-padding-after: 66px;
  padding-block-end: 66px;
}

.photos__title {
  -webkit-margin-after: 133px;
  margin-block-end: 133px;
}

.photos-slider__image {
  display: block;
  aspect-ratio: 498/332;
  border-radius: 10px;
}

.photos-slider__pagination {
  --swiper-pagination-bullet-border-radius: 1em;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #3f89bd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-size: 14px;
  -webkit-margin-before: 50px;
  margin-block-start: 50px;
}

.photos-slider__pagination .swiper-pagination-bullet-active {
  transition-property: width;
  transition-duration: 0.3s;
  --swiper-pagination-bullet-width: 32px;
}

.confidence {
  -webkit-padding-before: 68px;
  padding-block-start: 68px;
  -webkit-padding-after: 74px;
  padding-block-end: 74px;
}

.confidence__title {
  padding-inline: 15px;
  -webkit-margin-after: 80px;
  margin-block-end: 80px;
}

.confidence__inner {
  background-color: #d9d9de;
  -webkit-padding-before: 27px;
  padding-block-start: 27px;
  -webkit-padding-after: 49px;
  padding-block-end: 49px;
}

.confidence__container {
  overflow-x: auto;
  overflow-y: hidden;
  --container: 1402px;
}

.confidence__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 29px;
  -moz-column-gap: 29px;
  column-gap: 29px;
  padding-inline: 28px;
}

.confidence__item {
  flex: 0 0 auto;
  font-size: 0;
}

.confidence__image {
  aspect-ratio: 240/100;
  inline-size: 240px;
}

.confidence__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.confidence-slider__image {
  display: block;
  aspect-ratio: 1981/657;
}

.feedback {
  -webkit-padding-before: 73px;
  padding-block-start: 73px;
}

.feedback__inner {
  position: relative;
  isolation: isolate;
  -webkit-padding-before: 116px;
  padding-block-start: 116px;
  -webkit-padding-after: 116px;
  padding-block-end: 116px;
}

.feedback__inner::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(12, 30, 42, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.feedback__container {
  --container: 1220px;
}

.feedback__caption {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-margin-after: 12px;
  margin-block-end: 12px;
  font-size: 24px;
}

.feedback__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #ebebeb;
  -webkit-margin-after: 66px;
  margin-block-end: 66px;
  font-size: 36px;
}

.feedback__image {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.feedback-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  max-inline-size: 316px;
  padding-block: 5px;
  font-weight: 500;
  text-align: center;
  color: #ebebeb;
  background-color: rgba(63, 137, 189, 0);
  border: 1px solid;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  min-block-size: 66px;
  -webkit-padding-start: 35px;
  padding-inline-start: 35px;
  -webkit-padding-end: 35px;
  padding-inline-end: 35px;
  font-size: 24px;
  border-radius: 10px;
}

.feedback-link__label {
  flex: 1 1 auto;
}

.feedback-link__icon {
  flex: 0 0 auto;
  font-size: 0;
}

.feedback-link__icon svg {
  inline-size: 35px;
  block-size: 17px;
}

.dialog {
  max-inline-size: none;
  max-block-size: none;
  padding: 15px;
  color: inherit;
  background: none;
}

.dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal {
  position: relative;
  isolation: isolate;
  display: grid;
  inline-size: 100%;
  max-inline-size: 1196px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.modal__image {
  border-radius: 10px;
}

.modal__inner {
  padding: 60px;
}

.modal__title {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.modal__text {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
  font-size: 20px;
}

.modal__background {
  position: absolute;
  inset: 0;
  z-index: -1;
  mix-blend-mode: soft-light;
}

.modal-form__inputs {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.modal-form__input:not(:last-child) {
  -webkit-margin-after: 15px;
  margin-block-end: 15px;
}

.modal-form__input input {
  inline-size: 100%;
  block-size: 55px;
  padding-inline: 30px;
  font-size: 16px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.modal-form__input input:focus {
  background-color: #fff;
}

.modal-form__check {
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  max-inline-size: 255px;
  padding-block: 5px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(63, 137, 189, 0);
  border: 1px solid;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  min-block-size: 52px;
  padding-inline: 27px;
  font-size: 20px;
  border-radius: 10px;
}

.modal-button__label {
  flex: 1 1 auto;
}

.modal-button__icon {
  flex: 0 0 auto;
  font-size: 0;
}

.modal-button__icon svg {
  inline-size: 38px;
  block-size: 19px;
}

.modal-check {
  display: flex;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.modal-check input:checked ~ label,
.modal-check input:focus-visible ~ label {
  background-color: #fff;
}

.modal-check input:checked ~ label::after {
  background-color: #216b94;
}

.modal-check label {
  position: relative;
  flex: 0 0 auto;
  inline-size: 36px;
  aspect-ratio: 1/1;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.modal-check label::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 20px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  background-color: rgba(33, 107, 148, 0);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-property: background-color;
  transition-duration: 0.3s;
}

.modal-check__label {
  font-size: 14px;
}

.modal-check__label a {
  text-decoration: underline;
}

@media (min-width: 501px) {
  .models__buttons {
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .footer-nav {
    font-size: 20px;
  }

  .advantages-header {
    grid-template-columns: minmax(41px, calc((100vw - 1110px) / 2)) repeat(2, 1fr) minmax(41px, calc((100vw - 1110px) / 2));
    grid-template-areas: "image image content content";
  }

  .advantages-header__content {
    padding-block: 30px;
    -webkit-padding-end: 15px;
    padding-inline-end: 15px;
    -webkit-padding-start: 100px;
    padding-inline-start: 100px;
  }

  .advantages-articles__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .buy__hide-tab {
    display: none;
  }

  .feedback-link {
    justify-content: space-between;
    inline-size: 100%;
    text-align: start;
    border: 2px solid;
  }

  .modal-button {
    inline-size: 100%;
  }
}

@media (min-width: 993px) {
  .header__wrapper {
    inset-inline: 100px 0;
  }

  .header__inner {
    min-block-size: 100px;
    padding-inline: 65px 70px;
  }

  .header-logo__image {
    inline-size: 187px;
    aspect-ratio: 187/94.1;
  }

  .header-logo__image img.mob {
    display: none;
  }

  .header-column {
    font-size: 20px;
    color: #ebebeb;
  }

  .header-call {
    row-gap: 8px;
  }

  .burger-button {
    inline-size: 100px;
    block-size: var(--header-height);
  }

  html:not(.scrolled) .header:not(.show-menu) .burger-button {
    cursor: default;
  }

  .show-menu .burger-button__icon svg {
    fill: #3f89bd;
  }

  .burger-button__icon--fill {
    display: none;
  }

  .header-nav {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

  .header-nav__region {
    position: fixed;
    inset-block-start: var(--header-height);
    inset-inline-start: 100px;
    z-index: 25;
    inline-size: 337px;
    block-size: calc(100% - var(--header-height));
    padding-block: 25px;
    padding-inline: 17px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    visibility: visible;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, transform;
    transition-property: opacity, visibility, transform, -webkit-transform;
    transition-duration: 0.3s;
    overflow: auto;
    pointer-events: all;
  }

  html.scrolled .header:not(.show-menu) .header-nav__region--active,
  .header-nav__region:not(.header-nav__region--active) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(calc(-100% - 100px));
    transform: translateX(calc(-100% - 100px));
  }

  .footer {
    padding-block: 35px 148px;
  }

  .footer__inner {
    grid-template-columns: auto 1fr;
  }

  .footer__call {
    -webkit-margin-after: 32px;
    margin-block-end: 32px;
  }

  .footer__socials {
    -webkit-margin-after: 32px;
    margin-block-end: 32px;
  }

  .footer-nav__line {
    margin-inline: calc(var(--gap) * 1px) 50px;
  }

  .hero-card {
    min-block-size: 100vh;
  }

  .hero-card__container {
    align-items: end;
  }

  .hero-card__link {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: 73px;
    margin-inline-end: 73px;
  }

  .photos__slider--hide-pc {
    display: none;
  }

  .modal {
    grid-template-columns: 1.1421404682fr 0.8578595318fr;
  }
}

@media (hover: hover) and (min-width: 993px) {
  html.scrolled .burger-button:hover .burger-button__icon svg {
    fill: #216b94;
  }

  .sublist-link:hover {
    color: #3f89bd;
  }

  .sublist-link:hover .sublist-link__icon {
    border-color: #3f89bd;
  }

  .sublist-link:hover .sublist-link__icon::after {
    background-color: #3f89bd;
  }
}

@media (min-width: 1441px) {
  .footer-nav__block {
    display: flex;
  }
}

@media (max-width: 1574px) {
  body {
    font-size: calc(12px + 4 * (100vw - 360px) / 1214);
  }

  .up {
    inset-block-start: calc(-22px + -14 * (100vw - 360px) / 1214);
  }

  .up svg {
    inline-size: calc(44px + 28 * (100vw - 360px) / 1214);
  }

  .up svg {
    block-size: calc(44px + 28 * (100vw - 360px) / 1214);
  }

  .hero-slider__pagination {
    --swiper-pagination-bullet-horizontal-gap: calc(2px + 2 * (100vw - 360px) / 1214);
  }

  .hero-slider__pagination {
    --swiper-pagination-bottom: calc(15px + 68 * (100vw - 360px) / 1214);
  }

  .hero-slider__pagination {
    --swiper-pagination-bullet-size: calc(8px + 9 * (100vw - 360px) / 1214);
  }

  .hero-slider__pagination .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: calc(18px + 22 * (100vw - 360px) / 1214);
  }

  .hero-card {
    --slider-padding: calc(41px + 87 * (100vw - 360px) / 1214);
  }

  .hero-card__title {
    -webkit-padding-before: calc(27px + 16 * (100vw - 360px) / 1214);
    padding-block-start: calc(27px + 16 * (100vw - 360px) / 1214);
  }

  .hero-card__title {
    -webkit-padding-after: calc(36px + 7 * (100vw - 360px) / 1214);
    padding-block-end: calc(36px + 7 * (100vw - 360px) / 1214);
  }

  .hero-card__title {
    -webkit-padding-start: calc(21px + 105 * (100vw - 360px) / 1214);
    padding-inline-start: calc(21px + 105 * (100vw - 360px) / 1214);
  }

  .hero-card__title {
    -webkit-padding-end: calc(21px + 52 * (100vw - 360px) / 1214);
    padding-inline-end: calc(21px + 52 * (100vw - 360px) / 1214);
  }

  .hero-card__title {
    font-size: calc(16px + 32 * (100vw - 360px) / 1214);
  }

  .hero-card__link {
    -webkit-margin-before: calc(-20px + -7 * (100vw - 360px) / 1214);
    margin-block-start: calc(-20px + -7 * (100vw - 360px) / 1214);
  }

  .hero-link {
    min-block-size: calc(40px + 14 * (100vw - 360px) / 1214);
  }

  .hero-link {
    padding-inline: calc(18px + 17 * (100vw - 360px) / 1214);
  }

  .hero-link {
    font-size: calc(14px + 6 * (100vw - 360px) / 1214);
  }

  .hero-link {
    border-radius: calc(6px + 4 * (100vw - 360px) / 1214);
  }

  .hero-link__icon svg {
    inline-size: calc(20px + 10 * (100vw - 360px) / 1214);
  }

  .hero-link__icon svg {
    block-size: calc(10px + 5 * (100vw - 360px) / 1214);
  }

  .models {
    -webkit-padding-before: calc(44px + 85 * (100vw - 360px) / 1214);
    padding-block-start: calc(44px + 85 * (100vw - 360px) / 1214);
  }

  .models {
    -webkit-padding-after: calc(35px + 25 * (100vw - 360px) / 1214);
    padding-block-end: calc(35px + 25 * (100vw - 360px) / 1214);
  }

  .models__title {
    -webkit-margin-after: calc(30px + 37 * (100vw - 360px) / 1214);
    margin-block-end: calc(30px + 37 * (100vw - 360px) / 1214);
  }

  .models__buttons {
    -webkit-column-gap: calc(26px + 50 * (100vw - 360px) / 1214);
    -moz-column-gap: calc(26px + 50 * (100vw - 360px) / 1214);
    column-gap: calc(26px + 50 * (100vw - 360px) / 1214);
  }

  .models__buttons {
    -webkit-margin-after: calc(40px + 40 * (100vw - 360px) / 1214);
    margin-block-end: calc(40px + 40 * (100vw - 360px) / 1214);
  }

  .models__button {
    font-size: calc(16px + 8 * (100vw - 360px) / 1214);
  }

  .title-h2 {
    font-size: calc(20px + 12 * (100vw - 360px) / 1214);
  }

  .models-slider__pagination {
    --swiper-pagination-bullet-horizontal-gap: calc(2px + 2 * (100vw - 360px) / 1214);
  }

  .models-slider__pagination {
    --swiper-pagination-bullet-size: calc(8px + 6 * (100vw - 360px) / 1214);
  }

  .models-slider__pagination {
    -webkit-margin-before: calc(28px + 103 * (100vw - 360px) / 1214);
    margin-block-start: calc(28px + 103 * (100vw - 360px) / 1214);
  }

  .models-slider__pagination .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: calc(18px + 14 * (100vw - 360px) / 1214);
  }

  .model-card {
    border-radius: calc(20px + 20 * (100vw - 360px) / 1214);
  }

  .model-card__inner {
    -webkit-padding-before: calc(30px + 20 * (100vw - 360px) / 1214);
    padding-block-start: calc(30px + 20 * (100vw - 360px) / 1214);
  }

  .model-card__inner {
    -webkit-padding-after: calc(35px + 5 * (100vw - 360px) / 1214);
    padding-block-end: calc(35px + 5 * (100vw - 360px) / 1214);
  }

  .model-card__inner {
    padding-inline: calc(25px + 25 * (100vw - 360px) / 1214);
  }

  .model-card__title {
    font-size: calc(24px + 12 * (100vw - 360px) / 1214);
  }

  .model-card__price {
    font-size: calc(20px + 4 * (100vw - 360px) / 1214);
  }

  .model-card__image {
    border-radius: calc(20px + 20 * (100vw - 360px) / 1214);
  }

  .advantages {
    -webkit-padding-before: calc(35px + 25 * (100vw - 360px) / 1214);
    padding-block-start: calc(35px + 25 * (100vw - 360px) / 1214);
  }

  .advantages {
    -webkit-padding-after: calc(18px + 37 * (100vw - 360px) / 1214);
    padding-block-end: calc(18px + 37 * (100vw - 360px) / 1214);
  }

  .advantages__title {
    -webkit-margin-after: calc(40px + 40 * (100vw - 360px) / 1214);
    margin-block-end: calc(40px + 40 * (100vw - 360px) / 1214);
  }

  .advantages__header {
    -webkit-margin-after: calc(50px + 60 * (100vw - 360px) / 1214);
    margin-block-end: calc(50px + 60 * (100vw - 360px) / 1214);
  }

  .advantages__articles {
    -webkit-margin-after: calc(44px + 67 * (100vw - 360px) / 1214);
    margin-block-end: calc(44px + 67 * (100vw - 360px) / 1214);
  }

  .advantages-header__image {
    border-radius: calc(20px + -10 * (100vw - 360px) / 1214);
  }

  .advantages-header__content h3 {
    -webkit-margin-after: calc(50px + 30 * (100vw - 360px) / 1214);
    margin-block-end: calc(50px + 30 * (100vw - 360px) / 1214);
  }

  .advantages-header__content h3 {
    font-size: calc(20px + 28 * (100vw - 360px) / 1214);
  }

  .advantages-articles__list {
    row-gap: calc(50px + 20 * (100vw - 360px) / 1214);
  }

  .advantages-articles__list {
    -webkit-column-gap: calc(50px + 110 * (100vw - 360px) / 1214);
    -moz-column-gap: calc(50px + 110 * (100vw - 360px) / 1214);
    column-gap: calc(50px + 110 * (100vw - 360px) / 1214);
  }

  .advantages-articles__content h3 {
    -webkit-margin-after: calc(25px + 16 * (100vw - 360px) / 1214);
    margin-block-end: calc(25px + 16 * (100vw - 360px) / 1214);
  }

  .advantages-articles__content h3 {
    font-size: calc(14px + 10 * (100vw - 360px) / 1214);
  }

  .advantages-images__container {
    padding-inline: calc(5px + 14 * (100vw - 360px) / 1214);
  }

  .buy {
    -webkit-padding-before: calc(17px + 39 * (100vw - 360px) / 1214);
    padding-block-start: calc(17px + 39 * (100vw - 360px) / 1214);
  }

  .buy {
    -webkit-padding-after: calc(25px + 45 * (100vw - 360px) / 1214);
    padding-block-end: calc(25px + 45 * (100vw - 360px) / 1214);
  }

  .buy__content {
    --clip: calc(60px + 155 * (100vw - 360px) / 1214);
  }

  .buy__content {
    -webkit-padding-before: calc(60px + 230 * (100vw - 360px) / 1214);
    padding-block-start: calc(60px + 230 * (100vw - 360px) / 1214);
  }

  .buy__content {
    -webkit-padding-after: calc(20px + 270 * (100vw - 360px) / 1214);
    padding-block-end: calc(20px + 270 * (100vw - 360px) / 1214);
  }

  .buy__content {
    -webkit-padding-start: calc(35px + 180 * (100vw - 360px) / 1214);
    padding-inline-start: calc(35px + 180 * (100vw - 360px) / 1214);
  }

  .buy__title {
    -webkit-margin-after: calc(15px + 23 * (100vw - 360px) / 1214);
    margin-block-end: calc(15px + 23 * (100vw - 360px) / 1214);
  }

  .buy__title {
    font-size: calc(14px + 18 * (100vw - 360px) / 1214);
  }

  .buy__caption {
    -webkit-margin-after: calc(15px + 44 * (100vw - 360px) / 1214);
    margin-block-end: calc(15px + 44 * (100vw - 360px) / 1214);
  }

  .buy__caption {
    font-size: calc(12px + 12 * (100vw - 360px) / 1214);
  }

  .buy-link {
    min-block-size: calc(40px + 26 * (100vw - 360px) / 1214);
  }

  .buy-link {
    padding-inline: calc(20px + 15 * (100vw - 360px) / 1214);
  }

  .buy-link {
    font-size: calc(14px + 10 * (100vw - 360px) / 1214);
  }

  .buy-link {
    border-radius: calc(6px + 4 * (100vw - 360px) / 1214);
  }

  .buy-link__icon svg {
    inline-size: calc(20px + 10 * (100vw - 360px) / 1214);
  }

  .buy-link__icon svg {
    block-size: calc(10px + 5 * (100vw - 360px) / 1214);
  }

  .photos {
    -webkit-padding-before: calc(25px + 45 * (100vw - 360px) / 1214);
    padding-block-start: calc(25px + 45 * (100vw - 360px) / 1214);
  }

  .photos {
    -webkit-padding-after: calc(25px + 41 * (100vw - 360px) / 1214);
    padding-block-end: calc(25px + 41 * (100vw - 360px) / 1214);
  }

  .photos__title {
    -webkit-margin-after: calc(40px + 93 * (100vw - 360px) / 1214);
    margin-block-end: calc(40px + 93 * (100vw - 360px) / 1214);
  }

  .photos-slider__image {
    border-radius: calc(20px + -10 * (100vw - 360px) / 1214);
  }

  .photos-slider__pagination {
    --swiper-pagination-bullet-horizontal-gap: calc(2px + 2 * (100vw - 360px) / 1214);
  }

  .photos-slider__pagination {
    --swiper-pagination-bullet-size: calc(8px + 6 * (100vw - 360px) / 1214);
  }

  .photos-slider__pagination {
    -webkit-margin-before: calc(35px + 15 * (100vw - 360px) / 1214);
    margin-block-start: calc(35px + 15 * (100vw - 360px) / 1214);
  }

  .photos-slider__pagination .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: calc(18px + 14 * (100vw - 360px) / 1214);
  }

  .confidence {
    -webkit-padding-before: calc(25px + 43 * (100vw - 360px) / 1214);
    padding-block-start: calc(25px + 43 * (100vw - 360px) / 1214);
  }

  .confidence {
    -webkit-padding-after: calc(25px + 49 * (100vw - 360px) / 1214);
    padding-block-end: calc(25px + 49 * (100vw - 360px) / 1214);
  }

  .confidence__title {
    -webkit-margin-after: calc(35px + 45 * (100vw - 360px) / 1214);
    margin-block-end: calc(35px + 45 * (100vw - 360px) / 1214);
  }

  .confidence__inner {
    -webkit-padding-before: calc(10px + 17 * (100vw - 360px) / 1214);
    padding-block-start: calc(10px + 17 * (100vw - 360px) / 1214);
  }

  .confidence__inner {
    -webkit-padding-after: calc(14px + 35 * (100vw - 360px) / 1214);
    padding-block-end: calc(14px + 35 * (100vw - 360px) / 1214);
  }

  .confidence__image {
    inline-size: calc(138px + 102 * (100vw - 360px) / 1214);
  }

  .feedback {
    -webkit-padding-before: calc(25px + 48 * (100vw - 360px) / 1214);
    padding-block-start: calc(25px + 48 * (100vw - 360px) / 1214);
  }

  .feedback__inner {
    -webkit-padding-before: calc(103px + 13 * (100vw - 360px) / 1214);
    padding-block-start: calc(103px + 13 * (100vw - 360px) / 1214);
  }

  .feedback__inner {
    -webkit-padding-after: calc(32px + 84 * (100vw - 360px) / 1214);
    padding-block-end: calc(32px + 84 * (100vw - 360px) / 1214);
  }

  .feedback__caption {
    -webkit-margin-after: calc(8px + 4 * (100vw - 360px) / 1214);
    margin-block-end: calc(8px + 4 * (100vw - 360px) / 1214);
  }

  .feedback__caption {
    font-size: calc(10px + 14 * (100vw - 360px) / 1214);
  }

  .feedback__title {
    -webkit-margin-after: calc(15px + 51 * (100vw - 360px) / 1214);
    margin-block-end: calc(15px + 51 * (100vw - 360px) / 1214);
  }

  .feedback__title {
    font-size: calc(14px + 22 * (100vw - 360px) / 1214);
  }

  .feedback-link {
    min-block-size: calc(40px + 26 * (100vw - 360px) / 1214);
  }

  .feedback-link {
    -webkit-padding-start: calc(28px + 7 * (100vw - 360px) / 1214);
    padding-inline-start: calc(28px + 7 * (100vw - 360px) / 1214);
  }

  .feedback-link {
    -webkit-padding-end: calc(20px + 15 * (100vw - 360px) / 1214);
    padding-inline-end: calc(20px + 15 * (100vw - 360px) / 1214);
  }

  .feedback-link {
    font-size: calc(14px + 10 * (100vw - 360px) / 1214);
  }

  .feedback-link {
    border-radius: calc(5px + 5 * (100vw - 360px) / 1214);
  }

  .feedback-link__icon svg {
    inline-size: calc(20px + 15 * (100vw - 360px) / 1214);
  }

  .feedback-link__icon svg {
    block-size: calc(10px + 7 * (100vw - 360px) / 1214);
  }

  .modal__inner {
    padding: calc(20px + 40 * (100vw - 360px) / 1214);
  }

  .modal__title {
    font-size: calc(20px + 12 * (100vw - 360px) / 1214);
  }

  .modal__text {
    font-size: calc(14px + 6 * (100vw - 360px) / 1214);
  }

  .modal-button {
    min-block-size: calc(40px + 12 * (100vw - 360px) / 1214);
  }

  .modal-button {
    padding-inline: calc(20px + 7 * (100vw - 360px) / 1214);
  }

  .modal-button {
    font-size: calc(14px + 6 * (100vw - 360px) / 1214);
  }

  .modal-button {
    border-radius: calc(5px + 5 * (100vw - 360px) / 1214);
  }

  .modal-button__icon svg {
    inline-size: calc(20px + 18 * (100vw - 360px) / 1214);
  }

  .modal-button__icon svg {
    block-size: calc(10px + 9 * (100vw - 360px) / 1214);
  }

  .modal-check__label {
    font-size: calc(10px + 4 * (100vw - 360px) / 1214);
  }
}

@media (max-width: 1440px) {
  .footer-nav__list:not(:last-child) {
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
  }
}

@media (max-width: 992px) {
  .burger-active .header__wrapper {
    background-color: #d9d9d9;
  }

  html.burger-active .header__inner {
    -webkit-padding-end: 25px;
    padding-inline-end: 25px;
  }

  .burger-active .header-logo {
    display: none;
  }

  .header-logo__image img.pc {
    display: none;
  }

  .header-pin {
    display: none;
  }

  html:not(.burger-active) .header-column {
    display: none;
  }

  .header-column__address {
    font-weight: 700;
    font-size: 12px;
  }

  .header-column__line {
    display: none;
  }

  .header-call__button {
    font-size: 12px;
  }

  .header-buttons {
    display: none;
  }

  .burger-active .burger-button__icon:not(.burger-button__icon--fill) {
    display: none;
  }

  .burger-button__icon svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .header-nav {
    position: fixed;
    inset-block-start: var(--header-height);
    inset-inline: 0;
    z-index: 25;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    block-size: calc(100% - var(--header-height));
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
  }

  html:not(.burger-active) .header-nav {
    opacity: 0;
    visibility: hidden;
  }

  .header-sublist {
    position: relative;
    padding-block: 21px 15px;
    padding-inline: 29px;
  }

  .header-sublist::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -15px;
    inline-size: 100px;
    block-size: 1px;
    font-size: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 6.5%, rgba(255, 255, 255, 0.3) 49.39%, rgba(255, 255, 255, 0) 94.5%);
  }

  .footer__logo {
    inline-size: 190px;
    margin-inline: auto;
  }

  .footer__call {
    margin-inline: auto;
  }

  .footer__info {
    margin-inline: auto;
  }

  .footer__nav {
    margin-inline: auto;
  }

  .footer-call {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    text-align: center;
    font-size: 16px;
  }

  .footer-socials {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 17px;
    flex-direction: column;
  }

  .footer-socials__link svg {
    inline-size: 33px;
    block-size: 33px;
  }

  .footer-info {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
  }

  .footer-nav {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
  }

  .footer-nav__block .footer-nav__line {
    display: none;
  }

  .hero-card__link {
    -webkit-margin-start: 29px;
    margin-inline-start: 29px;
  }

  .photos__slider--hide-tab {
    display: none;
  }

  .modal__image {
    display: none;
  }
}

@media (hover: hover) and (max-width: 992px) {
  .burger-button:hover .burger-button__icon svg {
    fill: #216b94;
  }
}

@media (max-width: 768px) {
  .footer-nav__block--min {
    inline-size: -webkit-min-content;
    inline-size: -moz-min-content;
    inline-size: min-content;
  }
}

@media (max-width: 500px) {
  .models__buttons {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media (min-width: 993px) and (max-width: 1440px) {
  .footer__inner {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    margin-inline: auto;
  }
}

@media (min-width: 993px) and (max-width: 1574px) {
  .hero-card__link {
    -webkit-margin-end: calc(21px + 52 * (100vw - 360px) / 1214);
    margin-inline-end: calc(21px + 52 * (100vw - 360px) / 1214);
  }
}

@media (min-width: 769px) and (max-width: 1574px) {
  .advantages-header__content {
    -webkit-padding-start: calc(40px + 60 * (100vw - 360px) / 1214);
    padding-inline-start: calc(40px + 60 * (100vw - 360px) / 1214);
  }
}

@media (hover: hover) {
  a[href]:hover,
  button:hover {
    outline: none;
  }

  .header-pin:hover svg {
    fill: #216b94;
  }

  .header-call__button:hover {
    color: #216b94;
  }

  .header-call__tel:hover {
    color: #216b94;
  }

  .menu-button:hover {
    color: #216b94;
  }

  .menu-button:hover .menu-button__icon img.normal {
    opacity: 0;
  }

  .menu-button:hover .menu-button__icon img.active {
    opacity: 0;
  }

  .menu-button:hover .menu-button__icon img.hover {
    opacity: 1;
  }

  .header-link:hover {
    color: #216b94;
  }

  .header-link:hover .header-link__icon img.normal {
    opacity: 0;
  }

  .header-link:hover .header-link__icon img.active {
    opacity: 0;
  }

  .header-link:hover .header-link__icon img.hover {
    opacity: 1;
  }

  .spoiler-active .header-link:hover {
    color: #216b94;
  }

  .sublist-link:hover {
    color: #b6e3fa;
  }

  .sublist-link:hover .sublist-link__icon {
    border-color: #b6e3fa;
  }

  .sublist-link:hover .sublist-link__icon::after {
    background-color: #b6e3fa;
  }

  .header-socials__link:hover svg {
    fill: #216b94;
  }

  .footer-call__tel:hover {
    color: #216b94;
  }

  .footer-socials__link:hover svg {
    fill: #216b94;
  }

  .footer-info__link:hover {
    color: #216b94;
  }

  .footer-nav__link:hover {
    color: #216b94;
  }

  .up:hover svg {
    fill: #fff;
  }

  .hero-link:hover {
    background-color: #216b94;
  }

  .model-card__title a:hover {
    color: #216b94;
  }

  .model-card__link:hover svg {
    fill: #216b94;
  }

  .buy-link:hover {
    background-color: #216b94;
  }

  .feedback-link:hover {
    background-color: #216b94;
    border-color: rgba(235, 235, 235, 0);
  }

  .modal-button:hover {
    background-color: #216b94;
    border-color: rgba(235, 235, 235, 0);
  }

  .modal-check label:hover {
    background-color: #fff;
  }
}

@media (hover: none) {
  a[href]:active,
  button:active {
    outline: none;
    opacity: 0.5;
  }
}